<!Doctype HTML>
<html lang="en">
<head>
  <style>

  </style>

</head>
<body>
  <div class="navbar">
  <a href="/urls">Home</a>
  <a href="/urls/new">New</a>
  <a href="/urls/register">Restister</a>
  <a href="/urls/logout">Logout</a>
  <a href="/urls/login">Login</a>
</div>

    <% if (typeof(username) !== "undefined") { return %>
   <div class="username"><h1>Welcome! <%=username%></h1></div>


    </form>
      </form></div>
      <%} else { %>
      <div class="button-alt"> <form action="/login" method="POST">
      <input type="submit" value="Login">
   <% } %>

</body>
</html>