
<!Doctype HTML>
<html lang="en">
<head>
  <style>
  </style>
</head>
<body>
  <div class="navbar">
  <a href="/urls">Home</a>
  <a href="/urls/new">New</a>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</div>
      <% if(id){ %>
   <div class="username"><h1>Welcome: <%= id["id"] %></h1></div>
     <div class="button-alt"> <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
      </form></div>
 <% } else{ %>
    <a>Please Log In<a>
<% } %>


</body>
</html>