<!Doctype HTML>
<html lang="en">
<head>
  <style>

  </style>
</head>
<body>
  <div class="navbar">
  <a href="/urls">Home</a>
  <a href="/urls/new">New</a>
</div>
      <% if(username){ %>
   <div class="username"><h1>Welcome: <%= username %></h1></div>
     <div class="button-alt"> <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
      </form></div>
 <% } else{ %>
    <div class="button-alt"> <div id="welcome"> <h1><%= username %></h1> </div>
      <form action="/login" method="POST">
      <label for="login">Please Log In:</label>
      <input id="username" type="text" name="username" placeholder="username">
      <input type="submit" value="Submit">
      </form></div>
<% } %>


</body>
</html>