<!Doctype HTML>
<html lang="en">
<head>
  <style>

  </style>
</head>
<body>
  <div class="navbar">
  <a href="/urls">Home</a>
  <a href="/urls/new">New</a>
  <a href="/urls/register">Restister</a>
  <a href="/urls/logout">Logout</a>
  <a href="/urls/login">Login</a>
</div>
      <% if id { %>
   <div class="username"><h1>Welcome: <%= id %></h1></div>
     <div class="button-alt"> <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
      </form></div>
 <% } else{ %>
      <h1>Hello!</h1>
<% } %>


</body>
</html>