<!Doctype HTML>
<html lang="en">
<head>
  <style>
  </style>
</head>
<body>







  <h1 style="text-align: center">Please Log-in to use TinyApp!</h1>
</div>
    <div class="button"><form style="text-align: center" action="/login" method="POST">
      <label for="longURL">Login:</label>
      <input id="email" type="text" name="email" placeholder="example@example.com">
      <input id="password" type="text" name="password">
      <input type="submit" value="Submit">
    </form></div>

</body>
</html>