<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
<% include partials/_header %>
  </head>
  <body>



    <div class="button-alt"> <div id="welcome">
      <form action="/urls/register" method="POST">
      <label for="login">Please Log In:</label>
      <input id="email" type="text" name="email" placeholder="email">
      <input id="password" type="text" name="password" placeholder="password">
      <input type="submit" value="Submit">
      </form></div>



<!--      <div class="button-alt"> <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form> -->
      </form></div>



  </body>
</html>