<!Doctype HTML>
<html lang="en">
<head>
  <style>
  </style>
</head>
<body>
</div>
    <div class="button"><form action="/register" method="POST">
      <label for="longURL">Login:</label>
      <input id="email" type="text" name="email" placeholder="example@example.com">
      <input id="password" type="text" name="password">
      <input type="submit" value="Submit">
    </form></div>

</body>
</html>