<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <% include ./partials/_header %>
    </head>
  <body>
    <h1 style="text-align: center">This URL was not registered by you. ACCESS DENIED</h1>
  </body>
</html>