<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>

    <h1>Hello. Please Log In:<h1>
      <div class="button"><form action="/urls/register" method="POST">
      <input id="email" type="email" name="email" placeholder="email">
      <input id="password" type="password" name="password" placeholder="password">
      <input type="submit" value="Submit">
      </form></div>




  </body>
</html>