<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>




<h1 style="text-align: center">Please enter your email and a password to join the TinyApp community!</h1>
    <div class="button"><form style="text-align: center" action="/register" method="POST">
      <input id="email" type="text" name="email" placeholder="example@example.com">
      <input id="password" type="text" name="password">
      <input type="submit" value="Submit">
    </form></div>
  </body>
</html>