<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_header %>
</head>
<body>
<h1>
    <p>Thank you, you have logged:</p>
    <p class="title"><%= shortURL %></p>
</h1>
      <div class="button"><form action="/urls/<%=shortURL%>" method="POST">
      <input id="longURL" type="text" name="longURL" placeholder="update url">
      <input type="submit" value="Submit">
      </form></div>
</body>
</html>