<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
<h1>
  <% for (item in urls) { %>
  <ul>
    <p><li><%= item %> : <%= urls[item] %></li></p>
        <a href = "/urls/<%=item%>/">"Edit?"</a>
        <form action="/urls/<%= item %>/delete" method="POST">
      <span for="shortURL" style="background-color: red">Delete?</span>
      <input type="submit" value="press button">
    </form>
  </ul>
<% } %>
</h1>


</body>
</html>