<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
  <body>
    <h1><p style="text-align: center">Thank you, you have logged:</p>
      <p class="title" style="text-align: center"><%= longURL %></p></h1>
        <h2><p style="text-align: center"><%= shortURL %></p></h2>
          <form action="/urls/<%= shortURL %>" method="POST">
          <input id="longURL" type="text" name="longURL" placeholder="update url">
          <input type="submit" value="Submit">
          </form>
  </body>
</html>