<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
<body>
  <h1>hello </h1>

  <% for (item in urls) { %>

  <ul>
            <% if (user["id"] === urls[item]["id"]) {%>
   <h1> <li><%= item %> : <%= urls[item]["longURL"] %> </li></h1>

    <div class="button"> <form action="/urls/<%= item %>/delete" method="POST">
    <span for="shortURL" style="">Delete?</span>
    <input type="submit" value="press button">
    </form></div><br>
    <a class="del" href = "/urls/<%=item%>/">"Edit?"</a>
  </ul>
   <% } %>
<% } %>

</body>
</html>