<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_header %>
    <style>
  p {
    text-align: center;
    color: blue;
    background-color: navajoWhite;
  }
  body {
    background-color:  navajoWhite;
  }
  </style>
</head>
<body>
    <!-- Add your EJS code here -->
<h1>
    <p>Thank you, you have logged:</p>
    <p><%= urls %></p>
</h1>

    <a href=#></a>
</body>
</html>