<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
<h1>
    <p>Thank you, you have logged:</p>
    <p class="title"><%= shortURL %></p>
</h1>
      <div class="button"><form action="/urls/<%=shortURL%>" method="POST">
      <label for="text">texthere</label>
      <input id="longURL" type="text" name="longURL" placeholder="update url" style="width: 300px">
      <input type="submit" value="Submit">
      </form></div>
</body>
</html>