<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_header %>
</head>
<body>

<h1 class="url">
  <% for (item in urls) { %>
  <ul>
    <p><li><%= item %> : <%= urls[item] %></li></p>
       <div class="button"> <form action="/urls/<%= item %>/delete" method="POST">
      <span for="shortURL" style="">Delete?</span>
      <input type="submit" value="press button">
    </form></div><br>
        <a href = "/urls/<%=item%>/">"Edit?"</a>
  </ul>
<% } %>
</h1>


</body>
</html>